

body {
    color: 	#4B0082;
    background-color: #E6E6FA;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 20px;
}

h1, h2, h3 {
    font-family: Raleway, serif;
    font-style: bold;
}

img {
    float: right;
    width: 100px;
    margin: 0 30px 30px 50px;
}

.hlavicka {
    font-size: 68px;
    color:#E6E6FA;
    background-color: #4B0082;
}

h2 {
    padding-top: 30px;

}

h3 {
    padding-bottom: 5px;
    line-height: 0.5;
}

p {
    margin: 0 20px 0 40px;
}

ul {
    padding-bottom: 30px;
}
